/********** Template CSS **********/
:root {
  --primary: #6244c5;
  --secondary: #ffc448;
  --light: #f9f9f9;
  --dark: #12141d;
}
.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}
.invert {
  filter: invert(1) hue-rotate(180deg);
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Navbar ***/
.navbar.fixed-top {
  display: none;
  transition: 0.5s;
}

.navbar .navbar-nav .nav-link {
  padding: 20px 15px;
  color: var(--dark);
  font-size: 18px;
  font-weight: 600;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

/*** Header ***/

#home {
  margin-bottom: 6rem;
  background: url(../img/bg-header.png) left top no-repeat;
  background-color: #1da1f2;
}

.mode-checkbox {
  opacity: 0;
  position: absolute;
}

.mode-label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.mode-checkbox:checked + .mode-label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}

.social-media-wrapper {
  display: flex;
  height: 40vh;
  flex-direction: row;
  padding: 5px 0 0 0;
  align-items: center;
  justify-content: center;
}

.social-media-wrapper .fab {
  margin: auto;
}
.social {
  color: #fff;
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social:hover {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
  -moz-transition: all ease-in 0.5s;
  -webkit-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
}

.github {
  color: #211f1f;
}

.linkedin {
  color: #1da1f2;
}
.youtube {
  color: #c4302b;
}
.hackerrank {
  color: #25d366;
}

.bg-ico {
  display: flex;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.bg-ico:hover {
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.8);
}

#github:hover {
  background-color: #211f1f;
}

#linkedin:hover {
  background-color: #1da1f2;
}
#youtube:hover {
  background-color: #c4302b;
}

#hackerrank:hover {
  background-color: #25d366;
}

.github:hover,
.linkedin:hover,
.youtube:hover,
.hackerrank:hover {
  color: white;
  transform: scale(1.3);
}

.typed-cursor {
  font-size: 30px;
  color: var(--dark);
}

.btn-play {
  position: relative;
  display: block;
  box-sizing: content-box;
  width: 16px;
  height: 26px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 18px 20px 20px 28px;
  background: var(--primary);
}

.btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: var(--primary);
  border-radius: 100%;
  animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 100%;
  transition: all 200ms;
}

.btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  left: -1px;
  border-left: 16px solid var(--primary);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}

.modal-video .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}

.modal-video .modal-body {
  position: relative;
  padding: 0px;
}

.modal-video .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  background: #000000;
  opacity: 1;
}

/*** About ***/
#about .years .display-1 {
  font-size: 10rem;
  line-height: 9rem;
}

#about .years h5 {
  letter-spacing: 30px;
  margin-right: -30px;
}

/*** Skills ***/
#skill .progress {
  height: 5px;
  border-radius: 5px;
}

#skill .progress .progress-bar {
  width: 0px;
  border-radius: 5px;
  transition: 3s;
}

#skill .nav-pills .nav-link {
  color: var(--dark);
}

#skill .nav-pills .nav-link.active {
  color: #ffffff;
}

#skill .tab-content hr {
  width: 30px;
}

/*** Service ***/
.service-item .bg-icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: center center no-repeat;
  background-size: cover;
}

/*** Project Portfolio ***/
#portfolio-flters li {
  display: inline-block;
  font-weight: 500;
  color: var(--dark);
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
  color: var(--primary);
  border-color: var(--primary);
}

.portfolio-img {
  position: relative;
}

.portfolio-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(98, 68, 197, 0.9);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 30px;
  padding-bottom: 100px !important;
  opacity: 0;
  transition: 0.5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  padding-bottom: 30px !important;
}
